<#import "/templates/login.ftl" as page />
<@page.layout "xxx">
<#--<@spring.bind "registerForm" />-->
<div class="awidget-head">
<#--${registerForm.email}-->
    <#--<@spring.showErrors "*", "errors" />-->
</div>
<div class="awidget-body">
    <!-- Page title -->
    <div class="page-title text-center">
        <h2>Reset password</h2>
        <hr/>
    </div>
    <!-- Page title -->
    <br/>

    <form class="form-horizontal" role="form" action="${rc.contextPath}/requestResetPassword.html" method="post">
        Thank you for filling the form. Click link or enter
    </form>
</div>
</@page.layout>